In [1]:
import requests

# Get all python jobs from the github jobs API
r = requests.get('https://jobs.github.com/positions.json?description=python&page=0')

# How to join different pages of json?
postings = r.json()

In [2]:
import  requests
from collections import Counter

# Count how many job postings exist at any given location
count = Counter(posting['location'] for posting in postings)

print(count)

Counter({'Boston, MA': 3, 'Washington, DC': 2, 'Austin, Texas': 2, 'Berlin': 2, 'London, UK': 2, 'New York City': 2, 'Cupertino, CA': 2, 'London': 2, 'North America': 2, 'Paris': 1, 'New York, NY': 1, '800 5th Avenue, Suite 2800, Seattle, WA 98104': 1, 'Cambridge, MA': 1, 'Denver, CO': 1, 'Paris, France': 1, 'Essen': 1, 'Lexington, MA': 1, 'Barcelona': 1, 'Coppell, TX': 1, 'Seattle, WA': 1, 'Trondheim/Oslo, Norway': 1, 'Westerville': 1, 'Sindelfingen, Germany': 1, 'Stuttgart': 1, 'Los Angeles': 1, 'Austin': 1, 'Chicago, IL': 1, 'New York, NY, US': 1, 'Mountain View': 1, 'Indianapolis or REMOTE': 1, 'Deutschland, Hamburg': 1, 'Hamburg ': 1, 'United States and Canada': 1, 'San Francisco': 1, 'Austin, TX, USA': 1, 'Munich, Germany': 1, 'Brisbane CBD Australia': 1, 'New York, New York': 1, 'NY or LA': 1, 'Europe': 1})

In [24]:
import pandas as pd
source = pd.read_csv("/home/code/Desktop/test/data/population_engineers_hurricanes.csv")

source

                   state  id  population  engineers  hurricanes
0                Alabama   1     4863300   0.003422          22
1                 Alaska   2      741894   0.001591           0
2                Arizona   4     6931071   0.004774           0
3               Arkansas   5     2988248   0.002440           0
4             California   6    39250017   0.007126           0
5               Colorado   8     5540545   0.008088           0
6            Connecticut   9     3576452   0.005897          10
7               Delaware  10      952065   0.004989           2
8   District of Columbia  11      681170   0.011759           0
9                Florida  12    20612439   0.003300         110
10               Georgia  13    10310371   0.004940          20
11                Hawaii  15     1428557   0.001624           0
12                 Idaho  16     1683140   0.002971           0
13              Illinois  17    12801539   0.004478           0
14               Indiana  18     6633053   0.002724           0
15                  Iowa  19     3134693   0.003716           0
16                Kansas  20     2907289   0.003811           0
17              Kentucky  21     4436974   0.002089           0
18             Louisiana  22     4681666   0.001177          49
19                 Maine  23     1331479   0.002291           6
20              Maryland  24     6016447   0.006291           2
21         Massachusetts  25     6811779   0.010231          10
22              Michigan  26     9928300   0.003877           0
23             Minnesota  27     5519952   0.006194           0
24           Mississippi  28     2988726   0.000934          15
25              Missouri  29     6093000   0.004413           0
26               Montana  30     1042520   0.002139           0
27              Nebraska  31     1907116   0.005621           0
28                Nevada  32     2940058   0.002037           0
29         New Hampshire  33     1334795   0.006331           2
30            New Jersey  34     8944469   0.007724           2
31            New Mexico  35     2081015   0.001884           0
32              New York  36    19745289   0.004941          12
33        North Carolina  37    10146788   0.004227          46
34          North Dakota  38      757952   0.003404           0
35                  Ohio  39    11614373   0.004096           0
36              Oklahoma  40     3923561   0.002286           0
37                Oregon  41     4093465   0.005457           0
38          Pennsylvania  42    12784227   0.004237           1
39          Rhode Island  44     1056426   0.004581           9
40        South Carolina  45     4961119   0.002084          31
41          South Dakota  46      865454   0.003085           0
42             Tennessee  47     6651194   0.002376           0
43                 Texas  48    27862596   0.004320          59
44                  Utah  49     3051217   0.006440           0
45               Vermont  50      624594   0.004643           0
46              Virginia  51     8411808   0.008595          12
47            Washington  53     7288000   0.010711           0
48         West Virginia  54     1831102   0.001283           0
49             Wisconsin  55     5778708   0.004821           0
50               Wyoming  56      585501   0.001008           0
51           Puerto Rico  72     3411307   0.000774           0

In [1]:
import altair as alt
from vega_datasets import data
import pandas as pd

alt.renderers.enable('notebook')

counties = alt.topo_feature(data.us_10m.url,'counties')

source = pd.read_csv("/home/code/Desktop/test/data/population_engineers_hurricanes.csv"
    ,      # relative python path to subdirectory
    sep='\t',           # Tab-separated value file.
    quotechar="'",        # single quote allowed as quote character
    dtype={"id": int},             # Parse the salary column as an integer 
)


alt.Chart(counties).mark_geoshape().encode(
    color='population:Q'
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(source, 'id', ['population'])
).project(
    type='albersUsa'
).properties(
    width=800,
    height=500
)

FileNotFoundError: File b'/home/code/Desktop/test/data/population_engineers_hurricanes.csv' does not exist