In [3]:
import numpy as np

In [4]:
print(np.__version__)

1.17.0

In [5]:
my_list = [-17, 0, 4, 5, 9]
my_array_from_list = np.array(my_list)
my_array_from_list

array([-17,   0,   4,   5,   9])

In [6]:
my_array_from_list * 10

array([-170,    0,   40,   50,   90])

very number in the array must be of the same type

In [16]:
%matplotlib inline 
import geopandas as gpd
us_data = gpd.read_file('/home/code/Git/Uni/Natural-Earth/ne_10m_populated_places/ne_10m_populated_places.shp')

In [8]:
import geopandas as gpd
shapefile = '/home/code/Git/Uni/Natural-Earth/ne_10m_populated_places/ne_10m_populated_places.shp'
#Read shapefile using Geopandas
gdf = gpd.read_file(shapefile)
#Rename columns.
gdf.head()

,SCALERANK,NATSCALE,LABELRANK,FEATURECLA,NAME,NAMEPAR,NAMEALT,DIFFASCII,NAMEASCII,ADM0CAP,...,name_ja,name_ko,name_nl,name_pl,name_sv,name_tr,name_vi,wdid_score,ne_id,geometry
0,10,1,8,Admin-1 capital,Colonia del Sacramento,None,None,0,Colonia del Sacramento,0.0,...,コロニア・デル・サクラメント,콜로니아델사크라멘토,Colonia del Sacramento,Colonia del Sacramento,Colonia del Sacramento,Colonia del Sacramento,Colonia del Sacramento,4,1159112629,POINT (-57.84000247340134 -34.47999900541754)
1,10,1,8,Admin-1 capital,Trinidad,None,None,0,Trinidad,0.0,...,トリニダ,트리니다드,Trinidad,Trinidad,Trinidad,Trinidad,Trinidad,4,1159112647,POINT (-56.90099656015872 -33.5439989373607)
2,10,1,8,Admin-1 capital,Fray Bentos,None,None,0,Fray Bentos,0.0,...,フライ・ベントス,프라이벤토스,Fray Bentos,Fray Bentos,Fray Bentos,Fray Bentos,Fray Bentos,4,1159112663,POINT (-58.3039974719095 -33.1389990288435)
3,10,1,8,Admin-1 capital,Canelones,None,None,0,Canelones,0.0,...,カネローネス,카넬로네스,Canelones,Canelones,Canelones,Canelones,Canelones,4,1159112679,POINT (-56.28400149324307 -34.53800400667546)
4,10,1,8,Admin-1 capital,Florida,None,None,0,Florida,0.0,...,フロリダ,플로리다,Florida,Florida,Florida,Flordia,Florida,4,1159112703,POINT (-56.21499844799416 -34.09900200521719)

In [18]:
import pandas as pd
datafile = '/home/code/Git/Uni/Natural-Earth/share-of-adults-defined-as-obese.csv'

#Read csv file using pandas
df = pd.read_csv(datafile, names = ['entity', 'code', 'year', 'per_cent_obesity'], skiprows = 1)
df.head()

        entity code  year  per_cent_obesity
0  Afghanistan  AFG  1975               0.5
1  Afghanistan  AFG  1976               0.5
2  Afghanistan  AFG  1977               0.6
3  Afghanistan  AFG  1978               0.6
4  Afghanistan  AFG  1979               0.6

In [19]:
#Filter data for year 2016.
df_2016 = df[df['year'] == 2016]

#Merge dataframes gdf and df_2016.
merged = gdf.merge(df_2016, left_on = 'country_code', right_on = 'code')

KeyError: 'country_code'

In [1]:
from bokeh.io import output_notebook, show, output_file
from bokeh.plotting import figure
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar
from bokeh.palettes import brewer

#Input GeoJSON source that contains features for plotting.
geosource = GeoJSONDataSource(geojson = json_data)

#Define a sequential multi-hue color palette.
palette = brewer['YlGnBu'][8]

#Reverse color order so that dark blue is highest obesity.
palette = palette[::-1]
#Instantiate LinearColorMapper that linearly maps numbers in a range, into a sequence of colors.
color_mapper = LinearColorMapper(palette = palette, low = 0, high = 40)
#Define custom tick labels for color bar.
tick_labels = {'0': '0%', '5': '5%', '10':'10%', '15':'15%', '20':'20%', '25':'25%', '30':'30%','35':'35%', '40': '>40%'}
#Create color bar. 
color_bar = ColorBar(color_mapper=color_mapper, label_standoff=8,width = 500, height = 20,
border_line_color=None,location = (0,0), orientation = 'horizontal', major_label_overrides = tick_labels)
#Create figure object.
p = figure(title = 'Share of adults who are obese, 2016', plot_height = 600 , plot_width = 950, toolbar_location = None)
p.xgrid.grid_line_color = None
p.ygrid.grid_line_color = None
#Add patch renderer to figure. 
p.patches('xs','ys', source = geosource,fill_color = {'field' :'per_cent_obesity', 'transform' : color_mapper},
          line_color = 'black', line_width = 0.25, fill_alpha = 1)
#Specify figure layout.
p.add_layout(color_bar, 'below')
#Display figure inline in Jupyter Notebook.
output_notebook()
#Display figure.
show(p)

NameError: name 'json_data' is not defined

In [26]:

%matplotlib inline

import matplotlib.pyplot as plt
import geopandas as gpd
import pysal as ps

In [29]:
# Please note this will not display on your machine as it depends on an external file
# A rendered version can be found on the HTML or PDF versions of this notebook
from IPython.display import IFrame
IFrame("/home/code/Git/Uni/Natural-Earth/110m_cultural/ne_110m_admin_0_countries.shp", width=560, height=315)